---
layout: false
---

doctype xml
- pages = sitemap.resources.find_all{ |p| p.path.match(/\.html/) }
- today = Time.new.iso8601
urlset xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  - pages.each do |page|
    url
      loc
        = sitemap.app.config.deployment_url + '/' + page.destination_path.gsub('/index.html','')
      priority 0.7
      changefreq monthly
      lastmod #{today}
